<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/-c9bKgaRfC3Q/AAAAAAAAAAI/AAAAAAAAJUE/Eo2MLCqyiZs/s0-c-k-no-ns/photo.jpg">
    <title>Plan viaje</title>
</head>
<body>
<h1>Busqueda de un plan de viaje</h1>
<a href="javascript:history.back()">< Volver</a>
<form method="post" action="/cerca">
    <input type="text" name="originCity" placeholder="Ciudad de origen"/><br>
    <input type="text" name="destinarionCity" placeholder="Ciudad de destino"/><br>
    <input type="text" name="iniDate" placeholder="Fecha de salida"/><br>
    <input type="text" name="finDate" placeholder="Fecha de vuelta"/><br>

    <input type="submit" value="Buscar">
</form>

</body>
</html>
