<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan viaje</title>
</head>
<body>
<h1>Busqueda de un plan de viaje</h1>
<form method="post" action="/cerca">
    Origen:
    <input type="text" name="originCity" placeholder="Ciudad de origen"/><br> <br>
    Destino:
    <input type="text" name="destinationCity" placeholder="Ciudad de destino"/><br> <br>
    Ida:
    <input type="date" name="initDate" placeholder="Fecha de ida"/><br> <br>
    Vuelta:
    <input type="date" name="finDate" placeholder="Fecha de vuelta"/><br> <br>
    Seleccione un valor (1-5):
    <input list="pLudica" name="ponderacionLudica" placeholder="ponderacion Ludica"/><br/> <br>
    <datalist id="pLudica">
        <option value="1">
        <option value="2">
        <option value="3">
        <option value="4">
        <option value="5">
    </datalist>
    Seleccione un valor (1-5):
    <input list="pCultural" name="ponderacionCultural" placeholder="ponderacion Cultural"/><br/> <br>
    <datalist id="pCultural">
        <option value="1">
        <option value="2">
        <option value="3">
        <option value="4">
        <option value="5">
    </datalist>
    Seleccione un valor (1-5):
    <input list="pFestiva" name="ponderacionFestiva" placeholder="ponderacion Festiva"/><br/> <br>
    <datalist id="pFestiva">
        <option value="1">
        <option value="2">
        <option value="3">
        <option value="4">
        <option value="5">
    </datalist>

    <input type="submit" value="Buscar">
</form>

</body>
</html>
