<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/-c9bKgaRfC3Q/AAAAAAAAAAI/AAAAAAAAJUE/Eo2MLCqyiZs/s0-c-k-no-ns/photo.jpg">
    <title>Plan viaje</title>
</head>
<body>
<h1>Busqueda de un plan de viaje</h1>
<a href="javascript:history.back()">< Volver</a>
<form method="post" action="/cerca">
    <input type="text" name="originCity" placeholder="Ciudad de origen"/><br>
    <input type="text" name="destinationCity" placeholder="Ciudad de destino"/><br>
    <input type="date" name="initDate" placeholder="Fecha de ida"/><br>
    <input type="date" name="finDate" placeholder="Fecha de vuelta"/><br>
    <input type="number" name="ponderacionLudica" placeholder="ponderacion Ludica"/><br/>
    <input type="number" name="ponderacionCultural" placeholder="ponderacion Cultural"/><br/>
    <input type="number" name="ponderacionFestiva" placeholder="ponderacion Festiva"/><br/>

    <input type="submit" value="Buscar">
</form>

</body>
</html>
